@font-face {
    font-family: 'Cera Bielefeld Web';
    src: url('./CeraBielefeldWeb-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Bielefeld Web';
    src: url('./CeraBielefeldWeb-Light.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Bielefeld Web';
    src: url('./CeraBielefeldWeb-Bold.woff2');
    font-weight: 600;
    font-style: normal;
}